@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    font-display: auto;
    src: url('/fonts/Poppins.ttf') format('TrueType');
}

@font-face {
    font-family: 'Poppins-2';
    font-weight: 400;
    font-display: auto;
    src: url('/fonts/Poppins.woff') format('Woff');
}

html {
    scroll-behavior: smooth;
}

@layer utilities {
    .text-stroke-orange {
        -webkit-text-stroke: 0.5px #ea580c;
        /* orange-600 */
        text-shadow:
            0.5px 0.5px 0 #ea580c,
            -0.5px 0.5px 0 #ea580c,
            0.5px -0.5px 0 #ea580c,
            -0.5px -0.5px 0 #ea580c;
    }

    .text-stroke-hover:hover {
        -webkit-text-stroke: 0.5px #ea580c;
        text-shadow:
            0.5px 0.5px 0 #ea580c,
            -0.5px 0.5px 0 #ea580c,
            0.5px -0.5px 0 #ea580c,
            -0.5px -0.5px 0 #ea580c;
    }
}
