@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    font-display: auto;
    src: url('/fonts/Poppins.ttf') format('TrueType');
}

@font-face {
    font-family: 'Poppins-2';
    font-weight: 400;
    font-display: auto;
    src: url('/fonts/Poppins.woff') format('Woff');
}
