.underline-anim {
    position: relative;
    display: inline-block;
}

.underline-anim::after {
    content: '';
    position: absolute;
    bottom: -2px;
    /* jarak underline dari teks */
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #E43535;
    /* warna underline */
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.underline-anim:hover::after,
.underline-anim.active::after {
    transform: scaleX(1);
}

.underline-anim.leave-right::after {
    transform-origin: right;
}
