.controls {
    transition: opacity 150ms ease;
    opacity: 0;
    background: "white";
    border-radius: "100%";
    box-shadow: "0 4px 10px rgba(0,0,0,0.15)";
    border: "none";
}

.root {
    &:hover {
        .controls {
            opacity: 1;
        }
    }
}

.indicator {
    width: 12px;
    height: 12px;
    transition: width 250ms ease;
    background-color: black;

    /* &[data-active] {
        width: 40px;
    } */
}

.mantine-Carousel-viewport {
    overflow: visible !important;
}
